.highlight {
	background-color: red;
}

#id-combo-demo {
	width: 150px;
	height: 150px;
	padding: 0.5em;
	background-color: gray;
	border: 10px;
}

.class-combo-demo {
	width: 150px;
	height: 150px;
	padding: 0.5em;
	background-color: gray;
	border: 10px
}
#draggable {
	width: 150px;
	height: 150px;
	padding: 0.5em;
	background-color: gray;
}